#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #fcfbfb;;
    text-decoration :none ;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box  {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color:rgb(102, 115, 133);
   
}
body {
    background-color:rgb(101, 154, 158);
    
}
header {
    background-color :#7a7369;
    
    }
nav a:hover {
    background-color :rgb(101, 154, 158);
    }
.book  {
    background-color :rgb(101, 154, 158);
    color  : #e4dcd3; ;
    }
.book:hover,.join:hover {
    background-color:rgb(216, 227, 243);
    color: #bb7627;
}

.msg {
    background-color : rgb(102, 115, 133) ;
    }
footer {
    background-color : rgb(102, 115, 133);
    
    }
.home-title {
    color:#3f3b36;
}
h4  {
    color:#3f3b36;
}

.msg h2 {
    color: #e4dcd3;
}
.msg p  {
    color: #e4dcd3;
}
footer a {
    color: #0c0c0b;
    text-decoration: none;
}
footer a:hover {
    color:#d9c2a3;;
}
.icon {
    width: 80px;
}
#icon {
    width: 100px;
}
.join {
    color:rgb(221, 172, 111);
}
.book,.join {
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration :underline;
}
