
< !DOCTYPE html><html><head><title>BYUI</title><link rel="stylesheet" href="styles/styles.css" /></head><body {
    text-align: center;
}

<header><nav {
    background-color: steelblue;
    padding: 10px;
}

<a {
    color: white;
    margin: 40px;
}

href="byui.html">Home</a><a {
    color: white;
    margin: 40px;
}

href="https://www.churchofjesuschrist.org">Church of Jesus Christ</a><a href="https://www.churchofjesuschrist.org/temples">Temples</a><a href="https://www.churchofjesuschrist.org/study/scriptures">Scriptures</a></nav></header><main><h1 {
    color: steelblue;
}

Brigham Young University Idaho</h1><img {
    width: 800px;
    border: 4px solid steelblue;
}

src="https://www.byui.edu/images/service-sites/map-banner.jpg" alt="BYUI Campus" /><p>BYU-Idaho is a comfortable place to learn and grow as a disciple of Jesus Christ because students,
faculty,
and employees share a commitment to live the gospel. </p></main><footer {
    background-color: steelblue;
    color: white;
}

<p>My First Web Page 20XX &copy </p></footer></body></html>