section {
    width: 50%;
    border: 1px solid;
}

.block1 {
margin-left:  auto;
}

.block2,
.block4 {
    margin: 0 auto;

}

.block3 {
margin-right:auto;
}

.block1 p:nth-of-type(1),
.block2 p:nth-of-type(1),
.block3 p:nth-of-type(1) {
    text-align: left;
}

p:nth-of-type(2) {
    text-align: center;
}

.block1 p:nth-of-type(3),
.block2 p:nth-of-type(3),
.block3 p:nth-of-type(3) {
text-align: right
}

.block4 p:nth-of-type(1) {
text-align:right;
}

.block4 p:nth-of-type(3) {
text-align:left;
}

.block4 p:nth-of-type(4) {
 text-align:left;
}